/*  SECTION 1  */

.section_1 {
    position: relative;
    height: calc(100vh - 70px);
}


.section_1_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.section_1 .section_header {
    font-size: 60px;
    margin-bottom: 40px;
    line-height: 1;
    max-width: 700px;
    
}

.section_1 .section_paragraph {
    max-width: 500px;
}

.section_1 img {
    display: block;
    height: 400px;
    z-index: 2;
}

/*  SECTION 2  */
.section_2 {
    
}

.section_2_content {
}

.section_2 .section_header {
}

.section_2 .section_paragraph {
    
}

.section_2_images {
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 50px;
}

.section_2_image {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.section_2_images_border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: #555;
}

.section_2_image_text {
    padding: 10px 10px;
}

.section_2_image_img {
    width: 100%;
    margin-top: auto;
}

.section_2 img {
    /* display: block;
    position: absolute;
    height: calc(100%);
    right: 5%;
    top: 0; */
}


/*  SECTION 3  */
.section_3 {
    height: 100vh;
    background: url('images/moon_bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100vw;
}

/*  SECTION 4  */
.section_4 {
    height: 100vh;
    background: url('images/mars_bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.section_4 .section_header {

}

.card-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 50px;
}
  
@media (max-width: 680px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}
  
.card {
    position: relative;
    width: 300px;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 1);
    border: 2px solid #333; 
    backdrop-filter: blur(5px);
}
  
.card2 img {}
  
.card_img_container {
    background: #000;
    height: 243px;
    border-bottom: 2px solid #333;
}



.card img {
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 0;
}

.card.card1 img {
    position: relative;
    width: 80%;
    left: calc(50% - 40%);
}

.card.card2 img {
    position: relative;
    top: 15px;
}

.card_header {
    font-size: 30px;
    text-align: center;
    margin-top: 58px;

    transition: opacity .3s;
}

.card-overlay {
    position: absolute;
    left: 0;
    bottom: -157px;
    width: 100%;
    height: 153px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    
    transition: opacity 0.4s ease, bottom 0.4s ease;
}
  
.card:hover .card-overlay {
    opacity: 1;
    bottom: 0;
}
  
.card:hover .card_header{
    opacity: 0;
}

.card-overlay .card_description {
    padding: 35px 0 16px;
    font-size: 18px;
}
  

/*  SECTION 5  */
.section_5_satellite {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 50px;  
}

.section_5_satellite:nth-child(even) {
    flex-direction: row-reverse;
}

.section_5_satellite_text {
    max-width: 500px;
}

.section_5_satellite_image {
    height: 400px;
}

/*  SECTION 6  */
.section_6_satellites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.section_6_satellite {
    padding: 30px;
    border: 2px solid #555;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}

.section_6_satellite .img_container {
    position: relative;
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.section_6_satellite_img {
    width: 100%;
    height: 100%;
    border: 2px solid #555;
    border-radius: 15px;
}




@media (max-width:1330px) {
    .section_1_content {
        flex-direction: column;
        justify-content: start;
    }

    .section_1 .section_paragraph {
        max-width: 700px;
    }

    .section_1 img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width:650px) {
    .section_2_images {
        flex-direction: column;
        align-items: center;
        
    }

    .section_2_image {
        align-self: initial;
    }

    .section_2_images_border {
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        top: 50%;
    }

}


@media (max-width:760px) {
    .section_4 {
        height: fit-content;
    }

    .section_4 .card-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:1000px) {
    .section_5_satellite,
    .section_5_satellite:nth-child(even) {
        flex-direction: column;
    }

    .section_5_satellite_image {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width:850px) {
    .section_6_satellites {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section_6_satellite {
        width: 265px;
        flex-direction: column;
    }
}